body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: -26px;
    margin-bottom: 12px;

}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
    padding: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    
}

.content {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 150px 100px;
    gap: 100px;
}



button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px 34px;
    font-weight: bold;
}

.button-two {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid 3px #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
}


.left-content {
    width: 450px;
}

.content-img {
    background-color:rgb(151, 156, 175);
    padding: 120px 150px;
    color: #F9FAF8;
}

.info-img {
    width: 150px;
    height: 150px;
    border: inset 4px #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.info-container {
    display: flex;
    align-items: center;
    gap: 52px;
    padding-top: 32px;
    padding-bottom: 100px;
}

.info-content {
    width: 150px;
    text-align: center;
}

.text-info {
    margin-top: 4px;
}

.quote {
    background-color: #E5E7EB;
    padding: 120px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    padding: 50px;
  
}

.thor {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.sign-up {
    padding: 150px;
}


.box {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 60px 30px;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 8px;
}

.text-cta {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}